<!DOCTYPE html>
<html lang="ru">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header') %>
    <main class="main_content">
      <section class="content article">
        <%- include('partials/blockGoToBackAndHome',{title: news.category.name,
        color: news.category.color}) %>
        <div class="container">
          <div class="article-data">
            <div class="article_author">
              <div class="article_author-data">
                <img
                  src="<%= news.author.authorAvatar %>"
                  alt=""
                  class="article_author-avatar"
                />
                <div class="article_author-name">
                  <span class="article_author-lastName dark_text"
                    ><%= news.author.lastName %></span
                  >
                  <span class="article_author-firstName dark_text"
                    ><%= news.author.firstName %></span
                  >
                </div>
              </div>
              <span class="article_category"
                ><a href="" class="article_category-link"
                  ><%= news.category.name %></a
                ></span
              >
            </div>
            <div class="article_new">
              <img src="<%= news.image %>" alt="" class="article_preview-img" />
              <h1 class="article_title dark_title"><%= news.title %></h1>
              <p class="article_text dark_text"><%= news.content %></p>
            </div>
          </div>
        </div>
        <%- include('partials/blockGoToBackAndHome',{title: "", color:
        news.category.color}) %>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
