<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="main_content">
      <section class="content_card-preview content">
        <div class="container">
          <div class="card_preview">
            <div class="content_preview-img">
              <div class="card_preview-img">
                <div class="card_preview-author-card">
                  <div class="card_preview-author-avatar"></div>
                  <div class="card_preview-author-data">
                    <span class="card_preview-author-name"></span>
                    <span class="card_preview-author-category"></span>
                  </div>
                </div>
                <a href="#" class="card-preview-news-title-link"
                  ><h2 class="card-preview-news-title"></h2
                ></a>
              </div>
            </div>
            <div class="content_preview-title">
              <h3>Свежие новости</h3>
              <ul class="content_preview-list">
                <% previewsNews.forEach(post => { %>
                <li
                  class="card-preview_news-item"
                  id="<%= post.id %>"
                  data-img="<%=post.image%>"
                  data-author-lastName="<%=post.author.lastName%>"
                  data-author-firstName="<%=post.author.firstName%>"
                  data-author-authorAvatar="<%=post.author.authorAvatar%>"
                  data-author-authorCategory="<%=post.category.name%>"
                  data-preview-news-title="<%=post.title%>"
                >
                  <a
                    href="/newPage/<%= post.id %>"
                    class="card-preview_news-category-link card-preview_news-item-link"
                    ><span class="card-preview_news-category"
                      ><h3><%=post.category.name%></h3></span
                    >
                    <h2><%= post.title %></h2></a
                  >
                </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="news-card">
        <div class="container">
          <div class="news-card_cards">
            <% newsPart.forEach(post=>{%> <% const textPreview =
            post.content.substring(0, 400) %>
            <div
              class="news-card_card"
              style="background-image: url(<%=post.image%>)"
            >
              <h3
                class="news-card_card-ctegory"
                style="color: <%-post.category.color%>"
              >
                <a href="/newsCategory/<%-post.category.id%>"
                  ><%=post.category.name%></a
                >
              </h3>
              <h2 class="news-card_card-title">
                <a href="/newPage/<%= post.id %>"><%=post.title%></a>
              </h2>
              <p class="news-card_card-text-preview"><%= textPreview %>...</p>
              <div class="news-card_card-author">
                <div
                  class="news-card_card-author-avatar"
                  style="background-image: url(<%=post.author.authorAvatar%>)"
                ></div>
                <span class="news-card_card-author-name"
                  ><%=post.author.lastName%> <%=post.author.firstName%>
                </span>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <section class="section_banner">
        <div class="banner"><p class="news_quote"><%=quote[0].quote%></p></div>
      </section>
      <section class="posts">
        <div class="container">
          <%- include('partials/posts', {news: newsList}) %>
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
