<!DOCTYPE html>
<html lang="ru">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header') %>
    <main class="main_content content">
      <section class="posts">
        <%- include('partials/blockGoToBackAndHome', {title:categoryData.name,
        color: categoryData.color}) %>
        <div class="container">
          <%- include('partials/posts', {news: newsList}) %>
        </div>
        <%- include('partials/pagination', {newsCount: newsCount, category:
        categoryData, page: page,}) %>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
